body {
  font-family: 'Helvetica', sans-serif;
}

.western {
  font-weight: 700;
}

.image-container img {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  display: block;
  margin: 0 auto;
}
